
/*#button1 , #button2 {
display:inline-block;
/**other codes**/
/*}*/

#dimmer {
    display: none;
    position: fixed;
    width: 5%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 20%;
    left: 10%;
}

#red {
    background: rgba(0,0,0,0.5);
    width: 100px;
    height: 100px;
}

#pagetwo {
    display: none;
    position: fixed;
    width: 5%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    top: 20%;
    left: 10%;
}

.beforeDriving p{
    color: #FF69B4;
    font-size: 200%;
}


/*html, body {
    width  : 100%;
    height : 100%;
}
#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter: alpha(opacity=60);
    z-index    : 5;
    display    : none;
}

#overlay {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
    z-index  : 10;
    display  : none;
} 
>>>>>>> origin/master
